* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-family: "Montserrat", serif;
}
.container {
    background-color: #f2eae2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    display: flex;
    max-width: 660px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
}

.product-image {
    width: 50%;
    object-fit: cover;
}
.main {
    margin: 2rem;
}

.product-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 14px;
    color: #6c7289;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.product-name {
    font-family: "Fraunces", sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    word-spacing: 0;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 2rem;
    color: #1c232b;
}

.product-description {
    font-family: "Montserrat", serif;
    margin-bottom: 2rem;
    color: #6c7289;
    font-weight: 300;
}

span {
    font-family: "Fraunces", serif;
}
.price-tag {
    display: flex;
    align-items: center;
    color: #3d8168;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    gap: 0.5rem;
}

.price-org {
    color: #6c7289;
    text-decoration: line-through;
    margin-left: 0.5rem;
    font-weight: 300;
}
a {
    text-decoration: none;
}
.btn-cart {
    background-color: #3d8168;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    gap: 0.8rem;
}

.btn-cart:hover {
    background-color: #1a4032;
}
@media (max-width: 375px) {
    .card {
        flex-direction: column;
    }
    .product-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center 30%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main {
        width: 100%;
    }
}
